.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
/* 
body {
    /* background: #F9FDFB; */
/* background: radial-gradient(circle, rgba(249, 253, 251, 1) 0%, rgba(98, 144, 164, 1) 50%, rgba(237, 221, 83, 1) 100%); */
 */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 50px auto;
}


.section-1 {
    text-align: center;
}


img {
    max-width: 650px;
    justify-content:center;
    align-items:center;
    padding: 15px;
}
h1, h2, h3,
p {
    font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-size: 7rem;
    color:#F9FDFB;
}

h3{
    font-size: 3.6rem;
    color: #F9FDFB;
}
p {
    font-size: 2.4rem;
    text-align:center;
    color: #F9FDFB;
}
