body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  image-rendering: pixelated;
}

body::before {
  content: "";
  display: block;
  height: 100vh;
  width: 300vw; 
  background-image: url('../images/streetscene3.png');
  background-repeat: no-repeat;
  background-size: 300vw 100vh;
  background-position: left center;
}
