html,body {
    height: 100%;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding: 0; */
}
body
{
    
    background-image: url('../images/streetscene3.png');
    background-size: auto 100%;
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 100vh;
    width: auto;
    display: block;
}

/* .streetscene {
    background-image:url('images/.streetscene.png');
    text-align:center;
    position: fixed;
    left : 0;
    width : 100%;
    height : 100%;
    max-width: 100%;
    max-height: auto;
    margin: auto;
} */